@font-face {
    font-family: 'Diddy';
    src:  url('/assets/recoleta-font.otf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Diddy';
}

body { 
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: lightyellow;
}
.container {
    position: relative;
    margin: 0 auto;
    width: 640px;
}
video { 
    width: 10%; 
    height: 10%; 
}
canvas {
    width: 375px;
    height: 250px;
}
#emotion {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

img {
    width: 375px;
    height: 250px;
}

h1 {
    color: #333;
}

.controls {
    margin-top: 10px;
    text-align: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.chat-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

#start-button {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #4CAF50;
}

.chat-input-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

#send-button {
    padding: 10px 20px;
    margin-left: 7px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}